muletest/src/main/mule/muletest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="de113748-e3fa-46b5-84de-d88805cca21f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muletestFlow" doc:id="cae8e83f-df38-4fdf-be43-639123b707fd" >
		<http:listener doc:name="Listener" doc:id="8b6a2ad2-7bd8-4675-a603-a3947758423e" config-ref="HTTP_Listener_config" path="/jenkinstest"/>
		<set-payload value='#["test successful"]' doc:name="Set Payload" doc:id="fa74b5ae-b303-46b4-8dab-ac9250574494" />
		<logger level="INFO" doc:name="Logger" doc:id="b1f86262-d3e2-4fc5-8ea4-e111c800dd14" message="#[payload]"/>
	</flow>
</mule>
